ion-view(view-title='Detalle Anuncio' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-content.padding-top.instalaciones-detail-view
    img.full(ng-src="{{currentAnuncio.img_original_url}}" err-src='/img/avatar-blank.png')
    .list
      .padding
        small.muted {{currentAnuncio.created_at | date: "dd MMM"}}
        h2 {{currentAnuncio.title}}
        .avatar
          img(ng-src="{{currentAnuncio.user_img_thumb_url || '/img/blank.png'}}" err-src='/img/blank.png')
          span {{currentAnuncio.user_name}}
        p {{currentAnuncio.description}}
  ion-footer-bar.bar-orange.account-footer
    button.button.button-full.pay-button(ng-click="goToChat(currentAnuncio)")
      |  Enviar un mensaje a {{currentAnuncio.user_name}}