ion-view(view-title='Anuncios' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
    ion-nav-buttons(side='right')
      button.button-clear.force-show(ui-sref='dashboard-instalaciones-detail')
        i.color-white.ion-plus-round
  ion-content.padding-top.instalaciones-view
    .subheader.row
      .col(ng-class="{'active': activeTab == 1}" ng-click='selectTab(1)')
        span Hoy
      .col(ng-class="{'active': activeTab == 2}" ng-click='selectTab(2)')
        span Semana
      .col(ng-class="{'active': activeTab == 3}" ng-click='selectTab(3)')
        span Mes
    .list(ng-show='activeTab == 2')
      a.item.item-avatar(ng-repeat='inst in instalaciones', ui-sref='dashboard-instalaciones-detail')
        img(ng-src='{{inst.img}}')
        h2 {{inst.name}}
        p 
          small.left por {{inst.by}}
          small.right {{inst.date}} {{inst.hourStart}} HS