ion-view(view-title='Anuncios' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
    ion-nav-buttons(side='right')
      button.button-clear.force-show(ui-sref='comunidad-anuncios-new')
        i.color-white.ion-plus-round
  ion-content.padding-top.anuncios-view
    .list
      a.item(ng-if="anuncios.length == 0")
        p.text-center
          small
            | No hay Anuncios aún
      a.item.item-avatar(ng-repeat="an in anuncios | orderBy: '-created_at'", ui-sref='comunidad-anuncios-detail({announcement_id: an.id})')
        img(ng-src='{{an.img_thumb_url}}' err-src="/img/blank.png")
        small.muted.right {{an.created_at | date: "dd MMM"}}
        h2 {{an.title}}
        p {{an.description | truncate: 30: '..'}}
