ion-view(view-title='Nuevo Anuncio' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ui-sref="comunidad-anuncios")
      i.color-white.ion-chevron-left
  ion-content.padding-top.instalaciones-detail-view
    .uploadpic Subir foto
    .list
      .item.item-input
        input.text-center.orange(type="text" placeholder="Título de la Publicación")
    .row
      .col
        .label.muted Detalles
      .col.col-75
        input(type="text" placeholder="Detalles de la publicación")

  ion-footer-bar.bar-orange.account-footer
    button.button.button-full.pay-button
      |  CREAR ANUNCIO