ion-view(view-title='Car Pooling' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
    ion-nav-buttons(side='right')
      button.button-clear.force-show(ui-sref='comunidad-carp-new')
        i.color-white.ion-plus-round
  ion-content.padding-top.anuncios-view
    .list
      a.item(ng-if="carp.length == 0")
        p.text-center
          small
            | No hay publicaciones de Car Pooling aún
      a.item.item-avatar(ng-repeat='car in carp', ui-sref='comunidad-carp-detail({event_id: car.id})')
        img(ng-src='{{car.img_thumb_url}}' err-src="/img/blank.png")
        small.muted.right {{car.event_date | date: ''}} {{car.hourStart}}
        h2 {{car.name}}
        p.muted {{car.details | truncate : 20 : '..'}}