ion-view(view-title='Detalle Car Pooling' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-content.padding-top.instalaciones-detail-view
    .list
      .padding
        h2 Viajo a Valpo
        .avatar
          img(src='/img/blank.png')
          span Ana María
        hr.muted
        small.muted Fecha y hora
        br
        small.upper MARTES 14 JUN / 21.00 HS
        br
        small.muted Destino
        br
        small.upper VALPARAISO
        br
        small.muted Lugares Disponibles
        small.upper 2
         hr.muted
        p Me quedan 2 lugares disponibles. Viajo por el fin de semana, puede ser ida y vuelta.
  ion-footer-bar.bar-orange.account-footer
    button.button.button-full.pay-button
      |  Enviar un mensaje a Ana María