ion-view(view-title='Detalle Car Pooling' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-content.padding-top.instalaciones-detail-view
    .list
      .padding
        h2 {{currentCarPooling.name}}
        .avatar
          img(src='img/blank.png')
          span {{currentCarPooling.user_name}}
        hr.muted
        small.muted Fecha y hora
        br
        small.uppercased {{currentCarPooling.event_date | date : "EEEE dd 'de' MMMM"}} / {{currentCarPooling.start_time | date: 'HH:mm'}} HS
        br
        small.muted Destino
        br
        small.uppercased {{currentCarPooling.place}}
        br
        small.muted Lugares Disponibles 
        small.upper {{currentCarPooling.seats_available}}
         hr.muted
        p {{currentCarPooling.details}}
  ion-footer-bar.bar-orange.account-footer
    button.button.button-full.pay-button(ng-click="goToChat(currentCarPooling)")
      |  Enviar un mensaje a {{currentCarPooling.user_name}}