ion-view(view-title='Clasificados' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
    ion-nav-buttons(side='right')
      button.button-clear.force-show(ui-sref='comunidad-clasificados-new')
        i.color-white.ion-plus-round
  ion-content.padding-top.anuncios-view
    .list
      a.item(ng-if="clasificados.length == 0")
        p.text-center
          small
            | No hay Clasificados aún
      a.item.item-avatar(ng-repeat='clas in clasificados', ui-sref='comunidad-clasificados-detail({announcement_id: clas.id})')
        img(ng-src='{{clas.img_thumb_url}}' err-src="/img/blank.png")
        small.muted.right {{clas.created_at | date: "dd MMM"}}
        h2 {{clas.title}}
        p.muted {{clas.description}}
