ion-view(view-title='Detalle Clasificado' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-content.padding-top.instalaciones-detail-view
    img.full(ng-src="{{currentClasificado.img_original_url}}" err-src='img/avatar-blank.png')
    .list
      .padding
        small.muted {{currentClasificado.created_at | date: "dd MMM"}}
        h2 {{currentClasificado.title}}
        .avatar
          img(src='img/blank.png')
          span {{currentClasificado.user_name}}
        p {{currentClasificado.description}}
  ion-footer-bar.bar-orange.account-footer
    button.button.button-full.pay-button(ng-click="goToChat(currentClasificado)")
      |  Enviar un mensaje a {{currentClasificado.user_name}}