ion-view(view-title='Detalle Clasificado' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-content.padding-top.instalaciones-detail-view
    img.full(src='/img/escritorio.jpg')
    .list
      .padding
        small.muted 14 JUN
        h2 Vendo sillón y escritorio
        .avatar
          img(src='/img/blank.png')
          span Ana María
        p Sillón 2 plazas gris, 1,50 x 70 mts y escritorio escandinavo, 2 cajones. Estado impecable!! $50000 el escritorio y $70000 el sillón
  ion-footer-bar.bar-orange.account-footer
    button.button.button-full.pay-button
      |  Enviar un mensaje a Ana María