ion-view(view-title='Comunidad' hide-back-button='true')
  ion-nav-buttons(side='left')
    button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-nav-buttons(side='right')
    button.button-clear.force-show(main-sidebar='')
      img.user(src='img/icons/user.svg')
  ion-content.padding-top.comunidad-view
    .list
      a.item.item-icon-left(ui-sref='comunidad-eventos')
        .icon
          img(src='img/icons/com-eventos.svg')
        | Eventos
      a.item.item-icon-left(ui-sref='comunidad-mascotas')
        .icon
          img(src='img/icons/com-mascotas.svg')
        | Mascotas
        span.badge.badge-assertive 3
      a.item.item-icon-left(ui-sref='comunidad-recomendaciones')
        .icon
          img(src='img/icons/com-recomendaciones.svg')
        | Recomendaciones
        span.badge.badge-assertive 4
      a.item.item-icon-left(ui-sref='comunidad-carp')
        .icon
          img(src='img/icons/com-car.svg')
        | Car pooling
      a.item.item-icon-left(ui-sref='comunidad-anuncios')
        .icon
          img(src='img/icons/com-anuncios.svg')
        | Anuncios
        span.badge.badge-assertive 3
      a.item.item-icon-left(ui-sref='comunidad-clasificados')
        .icon
          img(src='img/icons/com-clasificados.svg')
        | Clasificados
        span.badge.badge-assertive 4
