ion-view(view-title='Eventos' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
    ion-nav-buttons(side='right')
      button.button-clear.force-show(ui-sref='comunidad-anuncios-new')
        i.color-white.ion-plus-round
  ion-content.padding-top.anuncios-view
    .list
      a.item.item-avatar(ng-repeat='ev in eventos', ui-sref='comunidad-eventos-detail')
        img(ng-src='{{ev.img}}')
        small.muted.right {{ev.date}} {{ev.hourStart}}
        h2 {{ev.title}}
        p.muted {{ev.asist}} asistentes
