ion-view(view-title='Nuevo Evento' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ui-sref="tabs.comunidad-eventos")
      i.color-white.ion-chevron-left
  ion-content.padding-top.instalaciones-detail-view
    div(ng-class="{'invisible-canvas': !newEventImage}" ng-thumb="newEventImage._file" height="160")
    .uploadpic(ng-hide="newEventImage") Subir foto del evento
    input(id="upload-input" type="file" nv-file-select="" uploader="uploader")
    .list
      .item.item-input
        input.text-center.orange(type="text" placeholder="Nombre del evento" ng-model="newEvent.name")
    .row
      .col
        .label.date-input.muted Fecha
      .col.col-75
        datepicker(event-date="newEvent.event_date")
    .row
      .col
        .label.date-input.muted Hora
      .col.col-75
        timepicker(selected-time="newEvent.start_time" placeholder="'Ingrese Hora Inicio'")
    .row
      .col
        .label.muted Lugar
      .col.col-75
        input(type="text" placeholder="Ingrese Lugar" ng-model="newEvent.place")
    .row
      .col
        .label.muted Detalles
      .col.col-75
        input(type="text" placeholder="Detalles del evento" ng-model="newEvent.details")

  ion-footer-bar.bar-orange.account-footer
    button.button.button-full.pay-button(ng-click="createReservation(newEvent)" ng-disabled="!newEvent.name || !newEvent.place || !newEvent.event_date || !newEvent.start_time || !newEvent.details")
      |  CREAR EVENTO