ion-view(view-title='Detalle Evento' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-content.padding-top.instalaciones-detail-view
    img.full(src='/img/parrilla.jpg')
    .list
      .padding
        small.muted 14 JUN
        br
        small.muted Quincho terraza
        br
        small.muted 9 asistentes
        h2 Parrillada bienvenida!
        .avatar
          img(src='/img/blank.png')
          span Ana María
        p Están todos invitados al asado en la terraza del edificio, confirmar para calcular las compras. Traer bebida!!!!
  ion-footer-bar.bar-orange.account-footer
    .col
      button.button.button-full.pay-button
        |  Asistiré
    .col
      button.button.button-full.pay-button
        |  Tal vez