ion-view(view-title='Detalle Evento' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-content.padding-top.instalaciones-detail-view
    img.full(ng-src="{{currentEvent.img_original_url}}" err-src='img/avatar-blank.png')
    .list
      .padding
        small.muted {{currentEvent.event_date | date : 'dd MMMM'}}
        br
        small.muted {{currentEvent.place}}
        br
        small.muted.link(ng-click="showAssitants()")
          ng-pluralize(count="assistants.length" when="{'0': 'Sin asistentes confirmados', '1': '1 asistente', 'other': '{} asistentes'  }")
        br
        small.muted.link(ng-if="maybe_assistants.length > 0" ng-click="showAssitants()")
          {{maybe_assistants.length}} tal vez
        h2 {{currentEvent.name}}
        .avatar
          img(ng-src="{{currentEvent.user_img_thumb_url || '/img/blank.png'}}" err-src='/img/blank.png')
          span {{currentEvent.user_name}}
        p {{currentEvent.details}}
  ion-footer-bar.account-footer(ng-class="{'bar-orange': !currentUserAssistent, 'bar-assertive': currentUserAssistent}")
    .col(ng-hide="currentUserAssistent")
      button.button.button-full.pay-button(ng-click="newAssistent(true)")
        |  Asistiré
    .col(ng-hide="currentUserAssistent")
      button.button.button-full.pay-button(ng-click="newAssistent(false)")
        |  Tal vez
    .col(ng-show="currentUserAssistent")
      button.button.button-full.pay-button(ng-click="cancelAssistent()")
        |  Cancelar Asistencia
  script(id="assistants-modal.html" type="text/ng-template")
    ion-modal-view
      include ./assistants-modal