ion-view(view-title='Mascotas' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
    ion-nav-buttons(side='right')
      button.button-clear.force-show(ui-sref='comunidad-mascotas-new')
        i.color-white.ion-plus-round
  ion-content.padding-top.anuncios-view
    .list
      a.item(ng-if="mascotas.length == 0")
        p.text-center
          small
            | No hay Anuncios de Mascotas
      a.item.item-avatar(ng-repeat='pet in mascotas', ui-sref='comunidad-mascotas-detail({announcement_id: pet.id})')
        img(ng-src="{{pet.img_thumb_url}}" err-src='/img/blank.png')
        small.muted.right.uppercased {{pet.created_at | date: 'dd/MMMM'}}
        h2 {{pet.title}}
        p.muted {{pet.description}}
