ion-view(view-title='Detalle Mascotas' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-content.padding-top.instalaciones-detail-view
    img.full(ng-src="{{currentMascota.img_original_url}}" err-src='img/blank.png')
    .list
      .padding
        small.muted {{currentMascota.created_at | date : "dd MMMM"}}
        h2 {{currentMascota.title}}
        .avatar
          img(ng-src="{{currentMascota.user_img_thumb_url || '/img/blank.png'}}" err-src='/img/blank.png')
          span {{currentMascota.user_name}}
        p {{currentMascota.description}}
  ion-footer-bar.bar-orange.account-footer
    button.button.button-full.pay-button(ng-click="goToChat(currentMascota)")
      |  Enviar un mensaje a {{currentMascota.user_name}}