ion-view(view-title='Detalle Recomendación' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-content.padding-top.instalaciones-detail-view
    img.full(ng-src="{{currentRecomendacion.img_original_url}}" err-src='img/avatar-blank.png')
    .list
      .padding
        small.muted Nombre
        br
        small.upper {{currentRecomendacion.local_name}}
        br
        small.muted Dirección
        br
        small.upper {{currentRecomendacion.place}}
        h2 {{currentRecomendacion.title}}
        .avatar
          img(src='img/blank.png')
          span {{currentRecomendacion.user_name}}
        hr.muted
        p {{currentRecomendacion.description}}
