.alert-view{
  text-align: center;
  color: $white;
  img.sos{
    width: 50px;
    margin-top: 15px;
  }
  h2{
    font-family: 'work_sansmedium';
    color: $white;
  }
  .title-alert{
    height: 200px;
    border-bottom: 2px solid $white;
    background-color: $orange;
    .ion-alert{
      font-size: 50px;
      position: relative;
      top: 10px;
    }
    p{
      font-size: 15px;
      margin: 0 23px;
    }
  }
  .alert-row{
    cursor: pointer;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: $white;
    background-color: $alert;
    h2{
      font-size: 20px;
      margin: 0;
      padding: 0;
      padding-top: 25px;
    }
    .icon{
      font-size: 55px;
      margin-right: 15%;
      color: $white;
    }
    .col{
      padding: 0;
      img{
        height: 80px;
      }
    }
  }
}

.alertavecinal-view{
  .item{
    .uppercased{
      color: $black;
      font-size: 15px;
    }
    input{
      padding-left: 20px;
      color: $orange;
      &.editing{
        border: 1px dotted $black;
        margin: 0 10px;
      }
    }
    .help{
      padding-right: 15px;
      font-size: 12px;
    }
  }
}