.asambleas-view{
  .list{
    margin-bottom: 0;
    .item{
      border: none;
    }
    &.br{
      margin: 0;
      .item{
        padding: 5px 16px;
      }
    }
  }
}
h2.titulo-asamblea{
  white-space: initial;
}
p.votes{
  line-height: 50px;
  img{
    height: 50px;
  }
  span{
    font-size: 20px;
    float: right;
    margin-top: 10px;
  }
}
