.dashboard-view,
.detail-view{
  .hero{
    padding-top: 5px;
    text-align: center;
    color: $white;
    background-color: $orange;
  }
  p{
    font-size: 25px;
    padding: 10px;
    &.common-expenses{
      font-size: 40px;
      small{
        font-size: 50%;
      }
    }
    .detalle-mes{
      .item{
        border: 10px solid #000;
        .mute{
          color: $text-grey;
        }
      }
    }
  }
  .list{
    position: relative;
    top: -12px;
    .button{
      margin: 0;
      padding: 5px 20px;
      text-align: left;
      border-bottom: 1px solid $grey;
      background-color: white;
    }
    .item{
      .upper{
        text-transform: uppercase;
      }
      .detalle-mes{
        hr{
          border: none;
          border-top: 1px solid $grey;
        }
        p{
          font-size: 14px;
          font-weight: 700;
          padding: 0 16px;
          &.red{
            color: $orange;
            span{
              &.text-left{
                float: left;
              }
              &.text-right{
                float: right;
              }
            }
          }
        }
        .item{
          padding-top: 0;
          padding-bottom: 0;
          border: none;
          span{
            &.text-left{
              float: left;
            }
            &.text-right{
              float: right;
            }
          }
          .mute{
            color: $text-grey;
          }
        }
      }
    }
    .red{
      color: $orange;
    }
  }
}

.account-view{
  .item{
    padding-top: 10px;
    padding-bottom: 0;
    &:first-child{
      .orange{
        color: $orange;
      }
    }
    .mute{
      color: $text-grey;
    }
  }
  .left-s{
    p{
      font-size: 15px;
      font-weight: bolder;
      text-transform: uppercase;
      color: $black;
    }
    small{
      font-size: 13px;
    }
  }
  .right-s{
    p{
      position: relative;
      top: 10px;
      text-align: right;
      &.notop{
        top: 0;
      }
    }
    span{
      font-size: 22px;
    }
  }
}
.account-footer{
  .pay-button{
    margin: 0;
    border: 0;
  }
}

// .modal-open{
//  &.sidebar-modal{
//    .modal-wrapper{
//      height: 100%;
//      position: relative;
//      top: 45px;
//      .main-sidebar{
//        height: 100%;
//        background-color: rgba(0, 0, 0, 0.74);
//        .row{
//          height: 100%;
//          padding: 0;
//          .col{
//            padding: 0;
//            background-color: $black;
//            .item{
//              background-color: $black;
//              color: $white;
//            }
//          }
//        }
//      }
//    }
//  }
// }

.modal-wrapper{
  position: relative;
  top: 50px;
  height: 100%;
  .main-sidebar{
    height: 100%;
    background-color: rgba(0, 0, 0, .74);
    .row{
      height: 100%;
      padding: 0;
      .col{
        padding: 0;
        background-color: lighten($black, 15%);
        .item{
          text-align: right;
          color: $white;
          background-color: lighten($black, 15%);
        }
      }
    }
  }
}
