$admin-h: 50px;
.home-menu{
  background-color: $whitesmoke;
  padding-top: 0px;
  @media(min-width: 767px){
    margin: 0px 25%;
    border: solid 1px $whitesmoke;
  }
  .slider-pager{
    z-index: 9;
    bottom: 4px;
  }
  .item-divider{
    margin: 0;
  }
  .border-bottom{
    padding-bottom: 0;
    border-bottom: 1px solid $orange;
  }
  .col{
    font-size: 17px;
    padding: 30px;
    text-align: center;
    color: $text;
    // border: 1px solid $black;
    .row-options{
      position: relative;
      top: 10px;
    }
  }
  .condominio{
    font-size: 12px;
    font-weight: 700;
    color: $text-grey;
    background: $grey;
    z-index: 99;
    &.moreinfo{
      height: 50px;
      z-index: 0;
    }
  }
  .slider-pager .slider-pager-page{
    color: $orange;
  }
  .admin,
  .comunidad{
    img{
      width: $admin-h;
      height: $admin-h;
      margin-right: 5%;
    }
    span{
      line-height: $admin-h;
      position: relative;
      bottom: 20px;
      margin-left: -3%; 
    }
  }
  .col-50.message,
  .col-50.agenda{
    float: left;
    margin-top: 5px;
    text-align: center;
    img{
      width: $admin-h;
      height: $admin-h;
    }
    span{
      float: left;
      width: 100%;
      margin-top: 10px;
    }
  }
  .col-50.message{
    border-right: 1px solid $orange;
  }
  .clickable{
    &:hover{
      @include transition( background-color ease .7s );
      background-color: lighten($black, 40%);
      color: $white;
    }
  }
}

.home-bg{
  // background-image: url(../img/icons-bg-example.jpg);
  // background-repeat: repeat;
  // background-size: 200px;
  background-image: url(../img/bg-orangegrad-inverted.png);
  background-repeat: no-repeat;
  background-size: cover;
}
