.instalaciones-view{
  .subheader{
    .active{
      color: $orange;
    }
  }
}

.instalaciones-detail-view{
  .item{
    border: none;
    h2{
      margin-bottom: 20px;
    }

    p.title{
    margin: 0;
    }
    p.desc{
      color: black;
      margin-bottom: 10px;
    }
  }
}

.date-as-placeholder{
  color: #aeaeae;
  font-size: 14px;
  font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI";
}