.log{
  color: white;
  background: red;
  background: url('../img/bg-home.jpg') center no-repeat;
  background-size: cover;
  .logo{
    width: 40%;
    height: 15%;
    margin: 50px auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  form.login{
    width: 400px;
    display: block;
    margin: auto;
    text-align: center;
    .item-floating-label{
      border: 0;
      padding: 6px 0 5px 6px;
    }
    span{
      color: $white;
      font-family: 'work_sansbold';
      left: 60px;
      text-align: left;
    }
    input{
      font-family: 'work_sansbold';
      width: 70%;
      color: white;
      border-bottom: 1px solid white;
      background: transparent;
      &.text{
        margin: 0 auto;
      }
      &.login{
        margin-top: 5vh;
        margin-bottom: 5vh;
        padding: 10px;
        border: none;
        background: $orange;
      }
    }
  }
  p{
    width: 100%;
  }
}
