ion-view
  ion-tabs.tabs-stable.tabs-icon-top
    ion-tab(icon='ion-home' ui-sref='tabs.home')
      ion-nav-view(name='tab_home')
    ion-tab(icon='ion-dash' ui-sref='tabs.dashboard')
      ion-nav-view(name='tab_dashboard')
    ion-tab(icon='ion-chat' ui-sref='tabs.chat')
      ion-nav-view(name='tab_chat')
    ion-tab(icon='ion-bell' ui-sref='tabs.feed')
      ion-nav-view(name='tab_feed')
    ion-tab.sos(icon='ion-sos' ui-sref='tabs.alerta')
      ion-nav-view(name='tab_alerta')       
    ion-tab.hide
      ion-nav-view(name='tab_agenda')
    ion-tab.hide
      ion-nav-view(name='tab_comunidad')
