ion-view(view-title='Home' hide-back-button='true')
  ion-nav-buttons(side='right')
    button.button-clear.force-show(main-sidebar='')
      img.user(src='img/icons/user.svg')
  ion-content.padding-top.home-bg
    .list.home-menu
      .item.item-divider.text-center.condominio(ng-if='!allCondos')
        ion-spinner(icon='dots')
      ion-slide-box(on-slide-changed='changeCurrentCondo($index)' delegate-handle="condoslider")
        ion-slide.item.item-divider.text-center.condominio(ng-class='{"moreinfo": allCondos.length > 1}' ng-repeat='condo in allCondos')
          span {{condo.name}}
        .item.item-divider.text-center.condominio(ng-if='allCondos.length == 0')
          span No estas asociado a ningun condominio
      ion-slide-box(on-slide-changed='changeCurrentDepto($index)' delegate-handle="deptoslider")
        ion-slide.item.item-divider.text-center.condominio(ng-class='{"moreinfo": allDeptos.length > 1}' ng-repeat='depto in allDeptos')
          span {{depto.number}}
      .row.admin.border-bottom
        .col.col-100.clickable(ui-sref='tabs.dashboard')
          .text-center.row-options
            img(src='img/icons/money.svg')
            span Administración
      .row.border-bottom
        .col.col-50.message.clickable(ui-sref='tabs.chat')
          img(src='img/icons/message.svg')
          span Mensajeslll
        .col.col-50.agenda.clickable(ui-sref='tabs.agenda')
          img(src='img/icons/agenda.svg')
          span Agenda
      .row.comunidad
        .col.col-100.clickable(ui-sref='tabs.comunidad')
          .text-center.row-options
            img(src='img/icons/comunidad.svg')
            span Comunidad
