@font-face{
  font-family: 'work_sansblack';
  font-weight: normal;
  font-style: normal;

  src: url('../lib/ionic/fonts/worksans-black-webfont.woff2') format('woff2'),
  url('../lib/ionic/fonts/worksans-black-webfont.woff') format('woff');
}
@font-face{
  font-family: 'work_sansbold';
  font-weight: normal;
  font-style: normal;

  src: url('../lib/ionic/fonts/worksans-bold-webfont.woff2') format('woff2'),
  url('../lib/ionic/fonts/worksans-bold-webfont.woff') format('woff');
}
@font-face{
  font-family: 'work_sansextrabold';
  font-weight: normal;
  font-style: normal;

  src: url('../lib/ionic/fonts/worksans-extrabold-webfont.woff2') format('woff2'),
  url('../lib/ionic/fonts/worksans-extrabold-webfont.woff') format('woff');
}
@font-face{
  font-family: 'work_sansextralight';
  font-weight: normal;
  font-style: normal;

  src: url('../lib/ionic/fonts/worksans-extralight-webfont.woff2') format('woff2'),
  url('../lib/ionic/fonts/worksans-extralight-webfont.woff') format('woff');
}
@font-face{
  font-family: 'work_sanslight';
  font-weight: normal;
  font-style: normal;

  src: url('../lib/ionic/fonts/worksans-light-webfont.woff2') format('woff2'),
  url('../lib/ionic/fonts/worksans-light-webfont.woff') format('woff');
}
@font-face{
  font-family: 'work_sansmedium';
  font-weight: normal;
  font-style: normal;

  src: url('../lib/ionic/fonts/worksans-medium-webfont.woff2') format('woff2'),
  url('../lib/ionic/fonts/worksans-medium-webfont.woff') format('woff');
}
@font-face{
  font-family: 'work_sansregular';
  font-weight: normal;
  font-style: normal;

  src: url('../lib/ionic/fonts/worksans-regular-webfont.woff2') format('woff2'),
  url('../lib/ionic/fonts/worksans-regular-webfont.woff') format('woff');
}
@font-face{
  font-family: 'work_sanssemibold';
  font-weight: normal;
  font-style: normal;

  src: url('../lib/ionic/fonts/worksans-semibold-webfont.woff2') format('woff2'),
  url('../lib/ionic/fonts/worksans-semibold-webfont.woff') format('woff');
}
@font-face{
  font-family: 'work_sansthin';
  font-weight: normal;
  font-style: normal;

  src: url('../lib/ionic/fonts/worksans-thin-webfont.woff2') format('woff2'),
  url('../lib/ionic/fonts/worksans-thin-webfont.woff') format('woff');
}
