ion-view(view-title='Agenda', hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-content.agenda-detail(has-header='true')
    .list.card
      .item.item-image
        .row.orange-bar
        .row.img-container
          .img
          // <img src="">
      .item
        h1.text-center {{currentPerson.name}}
        h3.text-center {{currentProfesion.name}}
    .list.card.detail-content
      .item.text-center.text
        | {{currentPerson.description}}
      .item.text-center
        a(ng-href='tel:{{currentPerson.phone}}') {{currentPerson.phone}}
    img.more.block-center(src='img/icons/chev-down.svg')
    .item
      h1.text-center Comentarios