<ion-view hide-nav-bar="true">
  <ion-content>
    <div class="view log">
      <div class="logo"></div>
      <form class="login" novalidate name="loginForm" ng-submit="loginForm.$valid && signIn(user)">
        <label ng-class="{ 'has-error' : loginForm.txtemail.$invalid && loginForm.$submitted }">
          <input class="text" 
            name="txtemail" 
            type="email" 
            ng-model="user.email" 
            placeholder="Email"
            ng-minlength="5"
            ng-maxlength="30"
            required>
        </label>
        <label ng-class="{ 'has-error-lr' : loginForm.txtPassword.$invalid && loginForm.$submitted }">
          <input class="text" 
            name="txtPassword" 
            type="password" 
            ng-model="user.password" 
            placeholder="Contraseña"
            ng-minlength="5"
            ng-maxlength="30"
            required>
        </label>

        <input class="login" type="submit" value="Conectarse">
      </form>
      <div class="forgot">
        <p class="text-center"><a class="orange" ui-sref="forgot">¿Olvidaste tu contraseña?</a></p>
      </div><!--/forgot-->
<!--       <p class="bottom text-center">
        <a class="white" ui-sref=="register"><small>¿No tienes cuenta? Regístrate.</small></a>
      </p> -->
    </div><!--/loginview-->
  </ion-content>
</ion-view>
