<ion-view view-title="Administración">
    <ion-nav-bar>
    	<ion-nav-back-button class="button-clear force-show" ng-click="goBack()">
      		<i class="color-white ion-chevron-left"></i>
    	</ion-nav-back-button>
  	</ion-nav-bar>
        <ion-content class="dashboard-view">
        	<div class="hero">
        		<small>A PAGAR</small>
        		<p>54000</p>
        		<small>PRÓXIMO VENCIMIENTO</small>
        		<p>13 FEB 2016</p>
        	</div>
        	<div class="list">
				<div class="item button button-full icon-right ion-ios-arrow-right" ui-sref="dashboard-account">
				    Mi Cuenta
				</div>
				<div class="item button button-full icon-right ion-ios-arrow-right">
				    Gastos Comunes
				</div>
				<div class="item button button-full icon-right ion-ios-arrow-right">
				    Uso de Instalaciones
				</div>
				<div class="item button button-full icon-right ion-ios-arrow-right">
				    Asambleas
				</div>
				<div class="item button button-full icon-right ion-ios-arrow-right">
				    Mantenciones
				</div>
				<div class="item button button-full icon-right ion-ios-arrow-right">
				    Reglamento
				</div>
        	</div>
        </ion-content>

</ion-view>
