ion-view(view-title='Mi Cuenta')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-content.account-view
    .list
      .item(ng-repeat='item in commonExpenses')
        .row
          .left-s.col.col-50
            p {{item.month}}
            small.mute válido hasta el 5 de {{item.month}}
          .right-s.col.col-50
            p
              span.orange  ${{item.total}}
      .item(ng-if='!commonExpenses')
        .row
          p.text-center.col.col-100  Sin Gastos Comunes Disponibles
  ion-footer-bar.bar-dark.account-footer(ng-if='commonExpenses')
    button.button.button-full.pay-button
      | PAGAR
