ion-view(view-title='Nuevo Usuario' hide-back-button='true')
  ion-nav-buttons(side='left')
    button.button-clear.force-show(ui-sref="tabs.dashboard-admin-home")
      i.color-white.ion-chevron-left
  ion-content.padding-top.instalaciones-detail-view
    .list.padding
      .row
        label.item.item-input.item-floating-label.col
          span.input-label Nombre
          input(type="text" placeholder="Nombre" ng-model="newUser.name")
      .row
        label.item.item-input.item-floating-label.col
          span.input-label Apellido
          input(type="text" placeholder="Apellido" ng-model="newUser.last_name")
      .row
        label.item.item-input.item-floating-label.col
          span.input-label RUT
          input(type="text" placeholder="RUT" ng-model="newUser.rut")
      .row
        label.item.item-input.item-floating-label.col
          span.input-label E-mail
          input(type="text" placeholder="E-mail" ng-model="newUser.email")
  ion-footer-bar.bar-orange.account-footer
    button.button.button-full.pay-button(ng-click="addUserToHome()" ng-disabled="!isValid()")
      | AGREGAR USUARIO
    