ion-view(view-title='Detalle {{currentAsamblea.name}}' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-content.padding-top.instalaciones-detail-view
    .list
      .item
        p.title 
          small Fecha
        p.desc
          small.uppercased {{currentAsamblea.event_date | date : "EEEE dd 'de' MMMM"}}
        p.title 
          small Detalle
        p.desc
          small Sin detalle adjunto
          //- small Descargar PDF