ion-view(view-title="Detalle Asamblea" hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-content.padding-top.instalaciones-detail-view
    img.full(ng-src="{{currentAsamblea.img_original_url}}" err-src='/img/avatar-blank.png')
    .list
      .padding
        small.muted {{currentAsamblea.event_date | date : "EEEE dd 'de' MMMM"}}
        h2 {{currentAsamblea.name}}
        p.desc
          small {{currentAsamblea.details}}

        .row
          .col
            p.votes.text-center
              img(src="img/icons/up-or.svg")
              span.orange SI ({{currentAsamblea.vote_details.yes.length}})
          .col
            p.votes.text-center
              img(src="img/icons/down-gr.svg")
              span.muted NO ({{currentAsamblea.vote_details.no.length}})

  ion-footer-bar.account-footer.text-center(ng-class="{'bar-orange': !currentAsamblea.userVoted, 'bar-assertive': currentAsamblea.userVoted}")
    .votes(ng-show="currentAsamblea")
      .col(ng-hide="currentAsamblea.userVoted")
        button.button.button-full.pay-button(ng-click="newVote(true)")
          |  SI
      .col(ng-hide="currentAsamblea.userVoted")
        button.button.button-full.pay-button(ng-click="newVote(false)")
          |  NO
      .col(ng-show="currentAsamblea.userVoted")
        .bar-full.pay-button.text-center
          |  {{currentAsamblea.userVote == true ? "SI" : "NO"}}
    .row.muted(ng-show="!currentAsamblea") CERRADA