ion-view(view-title="Detalle Asamblea {{currentAsamblea.event_date | date : 'MM/yyyy'}}" hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-content.padding-top.instalaciones-detail-view
    .list
      .item
        p.title 
          small Nombre
        p.desc
          small.uppercased {{currentAsamblea.name}}
        p.title 
          small Fecha
        p.desc
          small.uppercased {{currentAsamblea.event_date | date : "EEEE dd 'de' MMMM"}}
        p.title 
          small Detalle
        p.desc
          small {{currentAsamblea.details}}
        p.title 
          small VOTOS
        p.desc
          small SI:{{currentAsamblea.vote_details.yes.length}} / NO: {{currentAsamblea.vote_details.no.length}}
  ion-footer-bar.account-footer(ng-class="{'bar-orange': !currentAsamblea.userVoted, 'bar-assertive': currentAsamblea.userVoted}" ng-show="currentAsamblea")
    .col(ng-hide="currentAsamblea.userVoted")
      button.button.button-full.pay-button(ng-click="newVote(true)")
        |  SI
    .col(ng-hide="currentAsamblea.userVoted")
      button.button.button-full.pay-button(ng-click="newVote(false)")
        |  NO
    .col(ng-show="currentAsamblea.userVoted")
      .bar-full.pay-button.text-center
        |  {{currentAsamblea.userVote == true ? "SI" : "NO"}}