ion-view(view-title='Asambleas' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
    ion-nav-buttons(side='right')
      button.button-clear.force-show()
        i.color-white.ion-plus-round
  ion-content.padding-top.asambleas-view
    .list
      a.item(ng-click="goToCurrentAsamblea()")
        p
          strong {{currentAsamblea.name}}
          small.right
            i.ion-calendar
            |   {{currentAsamblea.event_date | date : 'dd/MM'}} {{currentAsamblea.start_time | date : 'HH:mm'}} HS
    .list.muted.br
      .item
        small Asambleas anteriores
    .list.muted
      a.item(ng-if="asambleas.length == 0")
        p
          small
            | No se registran asambleas anteriores
      a.item(ui-sref='dashboard-asambleas-detail({event_id: a.id})' ng-repeat="a in asambleas")
        p
          strong {{a.name}}
          small.right
            i.ion-calendar
            |   {{a.event_date | date : 'dd/MM'}} {{a.start_time | date : 'HH:mm'}} HS