ion-view(view-title='Asambleas' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
    ion-nav-buttons(side='right')
      button.button-clear.force-show(ui-sref="dashboard-asambleas-new")
        i.color-white.ion-plus-round
  ion-content.instalaciones-view
    .list(ng-show="!asambleas")
      .item.text-center
        ion-spinner(icon="dots")
    //- .list(ng-if="currentAsamblea")
    //-   a.item(ng-click="goToCurrentAsamblea()")
    //-     p
    //-       strong {{currentAsamblea.name}}
    //-       small.right
    //-         i.ion-calendar
    //-         |   {{currentAsamblea.event_date | date : 'dd/MM'}} {{currentAsamblea.start_time | date : 'HH:mm'}} HS
    //- .list.muted.br(ng-if="currentAsamblea")
    //-   .item
    //-     small Asambleas anteriores
    .list.muted
      a.item(ng-if="asambleas.length == 0")
        p
          small
            | No se registran asambleas anteriores
      a.item(ui-sref='dashboard-asambleas-detail({event_id: a.id})' ng-repeat="a in asambleas | orderBy: 'event_date'")
        small.right
          ng-pluralize(count="a.assistants_number" when="{'0': 'Sin Votos', '1': '1 Voto', 'other': '{} Votos'  }")
        h2.titulo-asamblea {{a.name}}
        p
          small.left
            i.ion-calendar
            |  Finaliza el  {{a.event_date | date : 'dd/MM'}} a las {{a.final_time | date : 'HH:mm'}} HS