ion-view(view-title='Nueva Asamblea' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ui-sref="dashboard-asamblea")
      i.color-white.ion-chevron-left
  ion-content.padding-top.instalaciones-detail-view
    .list
      .item.item-input
        .input-label
          | Titulo
        input(type="text" placeholder="Asamblea ..." ng-model="newAsamblea.name")
      .item.item-input
        textarea( placeholder="Detalle de la Asamblea" ng-model="newAsamblea.details")
      .item.item-input
        .input-label
          | Fecha Cierre
        datepicker(event-date="newAsamblea.event_date")
      .item.item-input
        .input-label
          | Hora Cierre
        timepicker(selected-time="newAsamblea.final_time" placeholder="'Ingrese Hora Cierre'")
  ion-footer-bar.bar-orange.account-footer
    button.button.button-full.pay-button(ng-click="saveAsamblea(newAsamblea)" ng-disabled="newAsamblea.details.length < 5")
      |  REGISTRAR ASAMBLEA