ion-view(view-title='Nuevo Aviso' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ui-sref="tabs.dashboard-avisos")
      i.color-white.ion-chevron-left
  ion-content.padding-top.instalaciones-detail-view
    .list
      .item.item-input
        .input-label
          | Titulo
        input(type="text" placeholder="Ingrese Titulo de Aviso" ng-model="newAviso.name")
      .item.item-input
        textarea( placeholder="Ingrese Detalle del Aviso" ng-model="newAviso.details")
      .item.item-input
        .input-label
          | Fecha
        datepicker(event-date="newAviso.event_date")
      .item.item-input
        .input-label
          | Hora
        timepicker(selected-time="newAviso.start_time" placeholder="'Ingrese Hora'")
      .item.item-input.alert-input
        .input-label
          | Alerta
        input(type="number" placeholder="Cantidad" ng-model="newAviso.alertQuantity")
        .item.item-select
          select(ng-model='newAviso.alertTimeMeasure' required)
            option(value='minutes') Minuto(s) ante(s)
            option(value='hours') Hora(s) ante(s)
            option(value='days') Dias(s) ante(s)
  ion-footer-bar.bar-orange.account-footer
    button.button.button-full.pay-button(ng-click="saveAviso(newAviso)" ng-disabled="isInvalid(newAviso)")
      |  REGISTRAR AVISO COMUNITARIO