ion-view(view-title="Detalle Aviso Comunitario" hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ui-sref="tabs.dashboard-avisos")
      i.color-white.ion-chevron-left
  ion-content.padding-top.instalaciones-detail-view
    .list(ng-show="!currentAviso")
      .item.text-center
        ion-spinner(icon="dots")
    .list(ng-show="currentAviso")
      .padding
        small.muted {{currentAviso.event_date | date : "EEEE dd 'de' MMMM"}}
        h2 {{currentAviso.name}}
        p.desc
          small {{currentAviso.details}}