ion-view(view-title='Administración')
  ion-nav-buttons(side='left')
    button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-nav-buttons(side='right')
    button.button-clear.force-show(main-sidebar='')
      img.user(src='img/icons/user.svg')

  ion-content.dashboard-view
    .hero(ng-if='commonExpenses')
      small A PAGAR
      p.common-expenses
        small $
        {{(commonExpenses[0].total | currency: '':0) || 0 }}
      small Correspondiente a
      p {{commonExpenses[0].month}}
    .hero(ng-show='!commonExpenses')
      small No Registra Deuda Pendiente
    .list
      .item.button.button-full.icon-right.ion-ios-arrow-right(ui-sref='dashboard-detail')
        | Gastos Comunes
      .item.button.button-full.icon-right.ion-ios-arrow-right(ui-sref='dashboard-instalaciones')
        | Uso de Instalaciones
      .item.button.button-full.icon-right.ion-ios-arrow-right(ui-sref='dashboard-asambleas')
        | Asambleas
      .item.button.button-full.icon-right.ion-ios-arrow-right(ui-sref='dashboard-mantenciones')
        | Mantenciones
      .item.button.button-full.icon-right.ion-ios-arrow-right(ui-sref='dashboard-reglamento')
        | Reglamento
