ion-view(view-title='Agregar')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-content.gc-view
    .list.padding.padding-top
      .item.item-icon-left(ng-click="download()")
        i.icon.ion-android-download
        span.capitalized Descargar plantilla
    hr
    .list.padding.padding-top
      .item.item-select
        span.input-label Mes
        select(ng-model='newGC.month' ng-options='m as m.name for m in meses' required)
          option(value='') Seleccione...
      .item.item-icon-left
        i.icon.ion-upload
        span.capitalized Cargar plantilla de Gastos
          small.right {{newGcFile._file.name}}
        input(id="excel-upload-input" type="file" nv-file-select="" uploader="uploader")
      .item.item-input
        span.input-label Total Luz
        input(type='number' ng-model='newGC.total_light' placeholder='Total Luz' required)
      .item.item-input
        span.input-label Total Agua
        input(type='number' ng-model='newGC.total_water' placeholder='Total Agua' required)
      .item.item-input
        span.input-label Total Gas
        input(type='number' ng-model='newGC.total_gas' placeholder='Total Gas' required)
      .item.item-input
        span.input-label Total Personal Edificio
        input(type='number' ng-model='newGC.total_personal' placeholder='Total Personal' required)
  ion-footer-bar.bar-dark.account-footer
    button.button.button-full.pay-button(ng-click="upload(newGC)" ng-disabled="isInvalid(newGC, newGcFile)")
      | CREAR
