ion-view(view-title='Nueva Reserva' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ui-sref="dashboard-instalaciones")
      i.color-white.ion-chevron-left
  ion-content.padding-top.instalaciones-detail-view
    .list
      .item.item-input
        .input-label
          | Lugar
        input(type="text" placeholder="Ingrese Lugar")
      .item.item-input
        .input-label
          | Fecha
        datepicker(event-date="newEvent.event_date")
      .item.item-input
        .input-label
          | Hora
        timepicker(start-time="newEvent.start_time")
  ion-footer-bar.bar-orange.account-footer
    button.button.button-full.pay-button
      |  CREAR RESERVA