ion-view(view-title='Detalle Uso de Instalaciones' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-content.padding-top.instalaciones-detail-view
    .list
      .item.item-avatar
        img(src='/img/blank.png')
        h2 Sergio Andueza
        p.title 
          small Instalación
        p.desc
          small QUINCHO TERRAZA
        p.title 
          small Fecha
        p.desc
          small MARTES 14 DE JUNIO
        p.title 
          small Horario
        p.desc
          small 21:00 - 23:00 HS.