ion-view(view-title='Uso de Instalaciones' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
    ion-nav-buttons(side='right')
      button.button-clear.force-show(ui-sref="dashboard-instalaciones-new")
        i.color-white.ion-plus-round
  ion-content.padding-top.instalaciones-view
    .subheader.row
      .col(ng-class="{'active': activeTab == 1}" ng-click='selectTab(1)')
        span Hoy
      .col(ng-class="{'active': activeTab == 2}" ng-click='selectTab(2)')
        span Semana
      .col(ng-class="{'active': activeTab == 3}" ng-click='selectTab(3)')
        span Mes
    .list(ng-show='activeTab == 2')
      .item(ng-show="!instalaciones").text-center
        ion-spinner(icon="dots")
      a.item.item-avatar(ng-if='instalaciones.length == 0')
        p
          small No Hay Reservas de Uso de Instalaciones
      a.item.item-avatar(ng-repeat='inst in instalaciones', ui-sref='dashboard-instalaciones-detail({event_id: inst.id})')
        img(ng-src='{{inst.img_thumb_url}}' err-src="/img/blank.png")
        h2 {{inst.name}}
        p
          small.left por {{inst.user_name}}
          small.right {{inst.event_date | date : 'dd/MM'}} {{inst.start_time | date: 'HH:mm'}} HS