ion-view(view-title='Nueva Reserva' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ui-sref="dashboard-instalaciones")
      i.color-white.ion-chevron-left
  ion-content.padding-top.instalaciones-detail-view
    .list
      .item.item-input
        .input-label
          | Lugar
        input(type="text" placeholder="Ingrese Lugar" ng-model="newEvent.place")
      .item.item-input
        .input-label
          | Fecha
        datepicker(event-date="newEvent.event_date")
      .item.item-input
        .input-label
          | Hora Inicio
        timepicker(selected-time="newEvent.start_time")
      .item.item-input
        .input-label
          | Hora Término
        timepicker(selected-time="newEvent.final_time")
  ion-footer-bar.bar-orange.account-footer
    button.button.button-full.pay-button(ng-click="createReservation(newEvent)" ng-disabled="!newEvent.place || !newEvent.event_date || !newEvent.start_time")
      |  CREAR RESERVA