ion-view
  ion-nav-title
    | {{longtext.title}}
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-content.longtext-view
    .content
      iframe(src='{{longtext.iframe}}')
