ion-view(view-title='Mantenciones' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
    ion-nav-buttons(side='right')
      button.button-clear.force-show(ui-sref="dashboard-mantenciones-new" ng-show="currentUser.role == 'superadmin'")
        i.color-white.ion-plus-round
  ion-content.padding-top.instalaciones-view
    .subheader.row
      .col(ng-class="{'active': activeTab == 1}" ng-click='filterBy(1)')
        span Hoy
      .col(ng-class="{'active': activeTab == 2}" ng-click='filterBy(2)')
        span Semana
      .col(ng-class="{'active': activeTab == 3}" ng-click='filterBy(3)')
        span Mes
    .list
      .item(ng-show="!mantenciones").text-center
        ion-spinner(icon="dots")
      a.item.item-avatar(ng-if='mantenciones.length == 0')
        p
          small No Hay Mantenciones programadas
      a.item(ng-repeat="mant in mantenciones | orderBy: 'event_date'", ui-sref='dashboard-mantenciones-detail({event_id: mant.id})')
        h2 {{mant.name}}
        p 
          small.left por {{mant.details | truncate : 25 : '..'}}
          small.right {{mant.event_date | date: 'dd/MM'}} {{mant.start_time | date: 'HH:mm'}} - {{mant.final_time | date: 'HH:mm'}} HS