ion-view(view-title='Detalle Mantenciones' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-content.padding-top.instalaciones-detail-view
    .row
      .col
        h2 Corte de Agua
        p por mantención de tanque se cortará el suministro de agua por una hora.
    .list
      .item
        p.title 
          small Lugar
        p.desc
          small TODO EL CONDOMINIO
        p.title 
          small Fecha
        p.desc
          small MARTES 14 DE JUNIO
        p.title 
          small Horario
        p.desc
          small 21:00 - 23:00 HS.