ion-view(view-title='Detalle Mantenciones' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-content.padding-top.instalaciones-detail-view
    .row
      .col
        h2 {{currentMantencion.name}}
        p {{currentMantencion.details}}
    .list
      .item
        p.title 
          small Lugar
        p.desc
          small.uppercased {{currentMantencion.place}}
        p.title 
          small Fecha
        p.desc
          small.uppercased {{currentMantencion.event_date | date : "EEEE dd 'de' MMMM"}}
        p.title 
          small Horario
        p.desc
          small {{currentMantencion.start_time | date : 'HH:mm'}} - {{currentMantencion.final_time | date : 'HH:mm'}} HS.