ion-view(title='Reglamento')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ui-sref="tabs.dashboard")
      i.color-white.ion-chevron-left
  ion-content.reglamento-view.padding(overflow-scroll='false')
    .text-center.search.search-pdf-view
      iframe( ng-src="{{pdfUrl}}" ng-if="supportsPDFs")
      .list
        .item
          a.padding(ng-click="goToPdf()" ng-if="!supportsPDFs" target="_blank") VER REGLAMENTO
