ion-view(view-title='Notificaciones' hide-back-button='true')
  ion-content.padding-top
    .list
      .item(ng-if="notifications.length == 0")
        p.text-center
          | No tienes notificaciones
      .item(ng-repeat="n in notifications")
        p.text-center
          | {{n.notification_type}} - {{n.text}}
