ion-view
  ion-content
    .view.home
      .logo
      form.login
        input.text(type='text', value='Email')
        input.text(type='text', value='Contraseña')
        input.login(type='submit', value='Conectarse')
      .forgot
        p.text-center
          a ¿Olvidaste tu contraseña?
        p.bottom.text-center
          small ¿No tienes cuenta? Regístrate.