<ion-view>
  <ion-content>
    <div class="view home">
      <div class="logo"></div>
      <form class="login" novalidate name="loginForm" ng-submit="loginForm.$valid && signIn(user)">
        <label ng-class="{ 'has-error' : loginForm.txtemail.$invalid && loginForm.$submitted }">
          <input class="text" 
            name="txtemail" 
            type="email" 
            ng-model="user.email" 
            placeholder="Email"
            ng-minlength="5"
            ng-maxlength="30"
            required>
        </label>
        <div class="form-errors" ng-messages="loginForm.txtemail.$error" ng-if="loginForm.$submitted">
          <div class="form-error" ng-message="required">Campo requerido.</div>
          <div class="form-error" ng-message="email">Email no válido.</div>
          <div class="form-error" ng-message="minlength">Debe tener al menos 5 caracteres.</div>
          <div class="form-error" ng-message="maxlength">Debe tener menos de 30 caracteres.</div>
        </div><!--.form-errors-->
        <label ng-class="{ 'has-error-lr' : loginForm.txtPassword.$invalid && loginForm.$submitted }">
          <input class="text" 
            name="txtPassword" 
            type="password" 
            ng-model="user.password" 
            placeholder="Contraseña"
            ng-minlength="5"
            ng-maxlength="30"
            required>
        </label>
        <!-- Edit this messages if you want -->
        <div class="form-errors" ng-messages="loginForm.txtPassword.$error" ng-if="loginForm.$submitted">
          <div class="form-error" ng-message="required">Campo requerido.</div>
          <div class="form-error" ng-message="minlength">Debe tener al menos 5 caracteres.</div>
          <div class="form-error" ng-message="maxlength">Debe tener menos de 30 caracteres.</div>
        </div><!--.form-errors-->

        <input class="login" type="submit" value="Conectarse">
      </form>
      <div class="forgot">
        <p class="text-center"><a class="orange" href="#/forgot">¿Olvidaste tu contraseña?</a></p>
      </div><!--/forgot-->
      <p class="bottom text-center"><a class="white" href="#/register"><small>¿No tienes cuenta? Regístrate.</small></a></p>
    </div><!--/home-->
  </ion-content>
</ion-view>
