ion-view(title='Configuración')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-content(has-header='true')
    .padding
      p Configuración
