ion-view(view-title='Editar Perfil' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ui-sref="profile")
      i.color-white.ion-chevron-left
  ion-content.padding-top.profile-view
    div(ng-class="{'invisible-canvas': !newEventImage}" ng-thumb="newEventImage._file" height="160")
    .uploadpic(ng-hide="newEventImage") Subir foto
    input(id="upload-input" type="file" nv-file-select="" uploader="uploader")
    .list
    .row
      label.item-stacked-label.col
        span.input-label Nombre
        input(type="text" placeholder="Nombre" ng-model="currentUser.name")
    .row
      label.item-stacked-label.col
        span.input-label Apellido
        input(type="text" placeholder="Apellido" ng-model="currentUser.last_name")
    .row
      label.col.item-stacked-label
        span.input-label Sexo
        .item-select.item
          select(ng-model="currentUser.sex" placeholder="Sexo")
            option Masculino
            option Femenino
    .row
      .col
        label.date-input.input-stacked-label
          span.input-label Fecha de Nacimiento
        datepicker(event-date="currentUser.birthday" date-format="'dd/MM/yyyy'" from-date="fromDate" to-date="toDate")
  ion-footer-bar.bar-orange.account-footer
    button.button.button-full.pay-button(ng-disabled="currentUser.name.length < 2 || currentUser.last_name.length < 2" ng-click="updateProfile(currentUser)")
      |  ACTUALIZAR 