ion-view(title='Perfil')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
    ion-nav-buttons(side="right" )
      .chat-new.button-clear.force-show(ui-sref="edit-profile" ng-if="isProfile")
        i.color-white.ion-compose
  ion-content.profile-view(has-header='true')
    .list.card
      .item.item-image
        img.circled(ng-src="{{currentUser.image_url}}" err-src='img/blank.png')
      .item
        h2.text-center {{currentUser.name}} {{currentUser.last_name}}
      .item.item-icon-left(ng-if="currentUser.email")
        i.icon.ion-email
        | {{currentUser.email}}
      .item.item-icon-left(ng-if="currentUser.sex")
        i.icon(ng-class="{'ion-male': currentUser.sex == 'Masculino', 'ion-female': currentUser.sex == 'Femenino'}")
        | {{currentUser.sex}}
      .item.item-icon-left(ng-if="currentUser.birthday")
        i.icon.ion-calendar
        | {{currentUser.birthday | date: "dd/MM/yyyy"}}
