ion-view(view-title='Mensajes' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-nav-buttons(side="right")
    .chat-new.button-clear.force-show(ui-sref="chat-new-message")
      i.color-white.ion-plus
  ion-content.padding-top.chat-view
    .subheader.row
      .col(ng-class="{'active': activeTab == 1}" ng-click='selectTab(1)')
        span Vecinos
      .col(ng-class="{'active': activeTab == 2}" ng-click='selectTab(2)')
        span Conversaciones
    .list(ng-show='activeTab == 1')
      .item(ng-show="!people").text-center
        ion-spinner(icon="dots")
      a.item.item-avatar(ng-repeat="p in people | orderBy: 'name' " ng-click="goToConversation(p)")
        img(ng-src="{{p.avatar_url ? p.avatar_url : '/img/avatar-thumb.png'}}")
        h2 {{p.name}}
        p Departamento {{p.depto_number}}
        span.arrow
          i.icon.ion-chevron-right
    .list(ng-show='activeTab == 2')
      .item(ng-show="!conversations").text-center
        ion-spinner(icon="dots")
      .item(ng-if="conversations.length == 0")
        p.text-center
          | No tienes conversaciones
      a.item.item-avatar(ng-repeat="c in conversations | orderBy: 'createdAt' " ng-click="goToConversation(c, true)")
        img(ng-src="{{p.avatar_url ? p.avatar_url : '/img/avatar-thumb.png'}}")
        h2 {{c.personName}}
        p {{c.lastMessage}}
        span.arrow
          i.icon.ion-chevron-right

