ion-view(cached='false')
  ion-nav-buttons(side='left')
    button.back-button.button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-nav-title  {{chatTitle || 'Mensajes'}} 
  ion-nav-buttons(side='right')
    button.button.button-clear(ng-click="goToProfile()")
      img.header-picture(ng-src="{{user.image_url ? user.image_url : 'img/avatar-thumb.png'}}")
  ion-content.chat(delegate-handle='chatScroll')
    ion-refresher(spinner="dots" class="load-previous" pulling-text="Cargar mensajes anteriores" on-refresh="loadPastMessages()")
    .message-list
      .message-badge(ng-if="loading")
        span
          | Cargando
          ion-spinner(icon="dots")
      .message-wrapper(ng-repeat="message in messages " ng-show="!loading")
        .message(ng-class="message.userId === user.id ? 'message-mine' : 'message-other'")
          .message-text {{message.text}}
          span.message-timestamp {{message.sentAt | date: 'HH:mm'}}
      .message-wrapper(ng-if='messages.length == 0')
        .message.message-sticked
          .message-text No hay Mensajes
  ion-footer-bar.bar-stable.footer-chat.item-input-inset(keyboard-attach='')
    form.send-form(ng-submit='sendMessage()' name="sendForm" novalidate)
      label.item-input-wrapper
        input(ng-model='newMessageText' type='text' placeholder="Escribe aquí..." required)
      span
        button.button.button-clear.button-positive(type="submit" ng-disabled="sendForm.$invalid") Enviar
