ion-view(cached='false')
  ion-nav-buttons(side='left')
    button.back-button.button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-nav-title  {{chatTitle || 'Mensajes'}} 
  ion-nav-buttons(side='right')
    button.button.button-clear
      img.header-picture(ng-src="{{user.avatar_url ? user.avatar_url : '/img/avatar-thumb.png'}}")
  ion-content.chat(delegate-handle='chatScroll')
    ion-refresher(spinner="dots" class="load-previous" pulling-text="Cargar mensajes anteriores" on-refresh="loadPastMessages()")
    .message-list
      .message-badge(ng-if="loading")
        span
          | Cargando
          ion-spinner(icon="dots")
      .message-wrapper(ng-repeat='message in messages' ng-show="!loading")
        .message(ng-class="message.userId === user.id ? 'message-mine' : 'message-other'")
          .message-text {{message.text}}
          span.message-timestamp {{message.sentAt | date: 'HH:mm'}}
      .message-wrapper(ng-if='messages.length == 0')
        .message.message-sticked
          .message-text No hay Mensajes
  ion-footer-bar.bar-stable.footer-chat.item-input-inset(keyboard-attach='')
    label.item-input-wrapper
      input(ng-model='newMessageText', on-return='sendMessage()', on-focus='inputUp()', on-blur='inputDown()', dir='auto', type='text' placeholder="Escribe aquí...")
    span
      button.button.button-clear.button-positive(ng-click='sendMessage()') Enviar
