ion-view(view-title='Nuevo Mensaje' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-content.padding-top
    .subheader.row
      .col.inputhead
        span.search
          i.ion-ios-search-strong
        input(type='text' placeholder="Buscar por Nombre" ng-model="search")
    .list
      .item(ng-if="!people").text-center
        ion-spinner(icon="dots")
      .item.text-left.button.button-full.icon-right.ion-ios-arrow-right.orange(ui-sref="chat-new-group" ng-hide="search.length > 0 || !people || people.length == 0")
        span.bold Crear Grupo
      a.item.item-avatar(ng-repeat="p in people | orderBy: 'name' | filter: search" ng-click="goToConversation(p)")
        img(ng-src="{{p.avatar_url ? p.avatar_url : '/img/avatar-thumb.png'}}")
        h2 {{p.name}}
        p Departamento {{p.depto_number}}
