ion-view(view-title='Nuevo Grupo' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-content.padding-top
    .list.nb
      .item.item.item-avatar
        img(src='/img/new.svg')
        input.bbottom(type='text' placeholder="Nombre del Grupo")
    
    .group
      .title Participantes
      .int
        .avatar
          img(src='/img/person-men.png')
        h2 Juan
      .int
        .avatar
          img(src='/img/person-girl.png')
        h2 Juana
  ion-footer-bar.bar-orange.account-footer
    button.button.button-full.pay-button
      |  Crear Grupo
