ion-view(view-title='Nuevo Mensaje' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-content.padding-top
    .list
      .item.item-divider.text-center.condominio
        span {{currentCondominio.name}}
      a.item.item-avatar
        img(src='/img/person-men.png')
        h2 Juan
        p Torre B, Depto 1103
      a.item.item-avatar
        img(src='/img/person-girl.png')
        h2 Juana
        p Torre A, Depto 210
