ion-view(view-title='Nuevo Mensaje' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-content.padding-top
    .subheader.row
      .col.inputhead
        span.search
          i.ion-ios-search-strong
        input(type='text' placeholder="Buscar por Nombre")
    .list
      .item.text-left.button.button-full.icon-right.ion-ios-arrow-right.orange
        span.bold Crear Grupo
      a.item.item-avatar
        img(src='/img/person-men.png')
        h2 Juan
        p Torre B, Depto 1103
      a.item.item-avatar
        img(src='/img/person-girl.png')
        h2 Juana
        p Torre A, Depto 210
