<ion-view view-title="Home" hide-back-button="true">
    <ion-nav-buttons side="right">
      <button class="button-clear force-show" main-sidebar>
        <i class="color-white ion-person"></i>
      </button>
    </ion-nav-buttons>
        <ion-content class="padding-top">
        	<div class="list home-menu">

  				<div class="item item-divider text-center">
    				<span>Condominio La Reina 123</span>
  				</div>

				<div class="row">
  					<div class="col col-100" ui-sref="tabs.dashboard">
  						<i class="icon ion-social-usd-outline"></i>
  						<span>Administracíon</span>
  					</div>
  				</div>

				<div class="row">
  					<div class="col col-50" ui-sref="tabs.chat">
  						<i class="icon ion-chatbox"></i>
  						<span>Mensajes</span>
  					</div>
  					<div class="col col-50">
  						<i class="icon ion-ios-calendar"></i>
  						<span>Agenda</span>
  					</div>
  				</div>

				<div class="row">
  					<div class="col col-100">
  						<span>Comunidad</span>
  						<i class="icon ion-person-stalker"></i>
  					</div>
  				</div>

  			</div>
  				
        </ion-content>
</ion-view>
