ion-view(view-title='SOS' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-content.padding-top.alert-view
    .title-alert(ng-click="openVecinalAlert()")
      p.text-center
        img.sos(src='img/icons/sos.svg')
      h2  ALERTA VECINAL
      p Usar con responsabilidad y respeto a sus vecinos
    a(ng-href='tel:{{alertNumbers.ambulance}}')
      .alert-row.row
        .col
          h2 AMBULANCIA
        .col
          img.sos-small(src='img/icons/sos-cross.svg')
    a(ng-href='tel:{{alertNumbers.fireman}}')
      .alert-row.row
        .col
          h2 BOMBEROS
        .col
          img.sos-small(src='img/icons/sos-fire.svg')
    a(ng-href='tel:{{alertNumbers.police}}')
      .alert-row.row
        .col
          h2 CARABINEROS
        .col
          img.sos-small(src='img/icons/sos-cop.svg')
    a(ng-href='tel:{{alertNumbers.security}}' ng-if="alertNumbers.security")
      .alert-row.row
        .col
          h2 SEGURIDAD CIUDADANA
        .col
          img.sos-small(src='img/icons/ciudadana.svg')
