<div class="main-sidebar">
  <div class="row">
    <div class="col col-50 col-offset-50">
      <div class="list">
        <div class="item" ng-click="goTo('profile')">
            Perfil
        </div>
        <div class="item" ng-click="goTo('help')">
            Ayuda
        </div>
        <div class="item" ng-click="goTo('config')">
            Configuración
        </div>
        <div class="item" ng-click="logOut()">
            Cerrar Sesion
        </div>
      </div>
    </div>
  </div>
</div>