ion-view(view-title='Agregar Contacto' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-content.agenda-detail(has-header='true')
    .list.card
      .item.item-image
        .row.orange-bar
        .row.img-container
          .img
    .list.padding
      form(name='newContactForm' ng-submit='newContact(newRecord)')
        .item.item-input.item-stacked-label
          span.input-label Nombre Completo
          input.bordered(type='text' ng-model='newRecord.name' placeholder='Ingrese Nombre y Apellido' required)
        .item.item-select
          span.input-label Profesión
          select.bordered(ng-model='newRecord.profesion' ng-options='p as p.name for p in profesiones' required)
            option(value='') Seleccione...
        .item.item-input.item-stacked-label.phone-input
          span.input-label Fono
          input.bordered(type='tel' ng-model='newRecord.phone' placeholder='Ingrese Fono')
        .item.item-input.item-stacked-label
          span.input-label Descripción
          textarea.bordered(ng-model='newRecord.description' placeholder='Ingrese Descripción' required)
  ion-footer-bar.agenda-footer
    .row
      .col.text-center
        button.button.button-full(ng-click='newContact(newRecord)' ng-disabled="!newRecord.name || !newRecord.profesion || !newRecord.description")  Agregar
