ion-view(view-title='Agenda' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-content.padding-top.agenda-view
    .subheader.row
      .col-90
        label.item.item-input
          i.icon.ion-search.placeholder-icon
          input(type='text' ng-model='searchText' ng-change='searchInAgenda(searchText)' placeholder='Buscar')
      .col-10(ng-click='nuevoRegistro()')
        span.new
          i.icon.ion-plus
    .list
      div(ng-repeat="profesion in profesiones | orderBy:'name'" ng-hide='profesion.contacts.length == 0 ')
        .item.item-icon-right(ng-click='selectProfesion(profesion)')
          | {{profesion.name}}
          i.icon.ion-chevron-down
        .list-inset(ng-if='profesion.id == profesionSeleccionada || searching')
          .item.item-icon-right(ng-repeat='persona in profesion.contacts | filter: searchText' ng-click='goToDetail(profesion, persona)')
            | {{persona.name}}
