ion-view(view-title='Agenda' hide-back-button='true')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-content.agenda-detail(has-header='true')
    .list.card
      .item.item-image
        .row.orange-bar
        .row.img-container
          .img
      .item
        h1.text-center {{currentContact.name}}
        h3.text-center {{currentContact.profession_name}}
    .list.card.detail-content
      .item.text-center.text
        | {{currentContact.description}}
      .item.text-center
        a(ng-href='tel:{{currentContact.phone}}') {{currentContact.phone}}
    .item.item-icon-right.resena-bar
      p RESEÑAS
      i.icon.ion-chevron-down
    .list-inset.resenas
      .item(ng-if="currentContact.all_reviews.length == 0")
        p No hay reseñas
      .item.item-avatar(ng-repeat="review in currentContact.all_reviews")
        img(src='/img/blank.png')
        small.muted.right.uppercased {{review.created_at | date: "dd MM / HH:mm"}}
        h2 {{review.user_name}}
        p.muted {{review.comment}}
