<ion-view hide-nav-bar="true">
  <ion-content class="padding-top">
    <div class="text-center padding">
      <i class="icon ion-ios-infinite larger positive"></i>
    </div>
    <form name="forgotForm" novalidate ng-submit="forgotForm.$valid && resetpassword(user)">
   <div class="list">
      <label class="item item-input item-floating-label" ng-class="{ 'has-error' : forgotForm.txtemail.$invalid && forgotForm.$submitted }">
        <span class="input-label">Email</span>
        <input name="txtemail" ng-model="user.email" placeholder="Email" type="email"
        ng-minlength="5"
        ng-maxlength="30"
        required>
      </label>
      <div class="form-errors" ng-messages="forgotForm.txtemail.$error" ng-if="forgotForm.$submitted">
        <div class="form-error" ng-message="required">Campo requerido.</div>
        <div class="form-error" ng-message="email">Email no válido.</div>
        <div class="form-error" ng-message="minlength">Debe tener al menos 5 caracteres.</div>
        <div class="form-error" ng-message="maxlength">Debe tener menos de 30 caracteres.</div>
      </div>
      <div class="padding-top">
      <input type="submit" value="Olvidé mi contraseña" class="button button-block button-positive"/>
  </form>
    </div>
  </ion-content>
</ion-view>
