<ion-view view-title="Mensajes" hide-back-button="true">
  <ion-nav-bar>
    <ion-nav-back-button class="button-clear force-show" ng-click="goBack()">
      <i class="color-white ion-chevron-left"></i>
    </ion-nav-back-button>
  </ion-nav-bar>
        <ion-content class="padding-top chat-view">
                <div class="subheader row">
                        <div class="col" ng-class="{'active': activeTab == 1}" ng-click="selectTab(1)">
                                <span>Vecinos</span>                        
                        </div>
                        <div class="col" ng-class="{'active': activeTab == 2}" ng-click="selectTab(2)">
                                <span>Conversaciones</span>                        
                        </div>
                </div>
                <div class="list" ng-show="activeTab == 1">
                    <a class="item item-avatar" ng-repeat="p in people">
                      <img ng-src="{{p.sex == 'Hombre' ? '/img/person-men.png' : '/img/person-girl.png'}}">
                      <h2>{{p.name}}</h2>
                      <p>Departamento {{p.depto_number}}</p>
                    </a>
                </div>
        	<div class="list" ng-show="activeTab == 2">
        		<div class="item">
        			<p class="text-center">
        				No tienes conversaciones
        			</p>
        		</div>
        	</div>
        </ion-content>
<!-- 	  <ion-footer-bar class="chat-footer">
	    <button class="button button-full" ui-sref="new_message">
	      Nuevo Mensaje
	      <i class="icon ion-android-chat"></i>
	    </button>
	  </ion-footer-bar> -->
</ion-view>
