ion-view(title='Términos y Condiciones')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-content.padding(overflow-scroll='false')
    .text-center.search.search-pdf-view
      ng-pdf(canvasid='pdf' scale='page-fit' page='{{page}}')