<ion-view view-title="Comunidad" hide-back-button="true">
        <ion-content class="padding-top comunidad-view">
        	<div class="list">

			  <a class="item item-icon-left">
			    <i class="icon ion-email"></i>
			    Eventos
			    <span class="badge badge-assertive">2</span>
			  </a>

			  <a class="item item-icon-left">
			    <i class="icon ion-email"></i>
			    Mascotas
			  </a>

			  <a class="item item-icon-left">
			    <i class="icon ion-email"></i>
			    Recomendaciones
			  </a>

			  <a class="item item-icon-left">
			    <i class="icon ion-email"></i>
			    Car pooling
			    <span class="badge badge-assertive">2</span>
			  </a>


			  <a class="item item-icon-left">
			    <i class="icon ion-email"></i>
			    Anuncios
			  </a>

			  <a class="item item-icon-left">
			    <i class="icon ion-email"></i>
			    Clasificados
			  </a>
        	</div>
        </ion-content>
</ion-view>
