<ion-view view-title="Nuevo Evento" hide-back-button="true">
    <ion-nav-bar>
        <ion-nav-back-button ui-sref="tabs.comunidad-eventos" class="button-clear force-show">
            <i class="color-white ion-chevron-left"></i>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="padding-top instalaciones-detail-view">
        <div ng-class="{'invisible-canvas': !newEventImage}" ng-thumb="newEventImage._file" height="160"></div>
        <div ng-hide="newEventImage" class="uploadpic">Subir foto del evento</div>
        <input id="upload-input" type="file" nv-file-select="" uploader="uploader"/>
        <div class="list">
            <div class="item item-input">
                <input type="text" placeholder="Nombre del evento" ng-model="newEvent.name" class="text-center orange"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="label date-input muted">Fecha</div>
            </div>
            <div class="col col-75">
                <datepicker event-date="newEvent.event_date"></datepicker>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="label date-input muted">Hora</div>
            </div>
            <div class="col col-75">
                <timepicker selected-time="newEvent.start_time" placeholder="'Ingrese Hora Inicio'"></timepicker>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="label muted">Lugar</div>
            </div>
            <div class="col col-75">
                <input type="text" placeholder="Ingrese Lugar" ng-model="newEvent.place"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="label muted">Detalles</div>
            </div>
            <div class="col col-75">
                <input type="text" placeholder="Detalles del evento" ng-model="newEvent.details"/>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-orange account-footer">
        <button ng-click="createReservation(newEvent)" ng-disabled="!newEvent.name || !newEvent.place || !newEvent.event_date || !newEvent.start_time || !newEvent.details" class="button button-full pay-button"> CREAR EVENTO</button>
    </ion-footer-bar>
</ion-view>