<ion-view view-title="Mi Cuenta">
    <ion-nav-bar>
    	<ion-nav-back-button class="button-clear force-show" ng-click="goBack()">
      		<i class="color-white ion-chevron-left"></i>
    	</ion-nav-back-button>
  	</ion-nav-bar>
        <ion-content class="account-view">
        	<div class="list">
				<div class="item">
				    <div class="row">
				    	<div class="left-s col col-50">
				    		<p>Junio 2016</p>
				    		<small>Vto. 13/junio</small>
				    	</div>
				    	<div class="right-s col col-50">
				    		<p><span class="orange"> $ 54000</span></p>
				    	</div>
				    </div>
				</div>
				<div class="item">
				    <div class="row">
				    	<div class="left-s col col-50">
				    		<p>Mayo 2016</p>
				    		<small>Vto. 13/mayo</small>
				    	</div>
				    	<div class="right-s col col-50">
				    		<p><span class="orange"> $ 50000</span></p>
				    	</div>
				    </div>
				</div>
				<div class="item">
				    <div class="row">
				    	<div class="left-s col col-50">
				    		<p>Abril 2016</p>
				    		<small>Vto. 13/abril</small>
				    	</div>
				    	<div class="right-s col col-50">
				    		<p><span class="orange"> $ 53000</span></p>
				    	</div>
				    </div>
				</div>
				<div class="item">
				    <div class="row">
				    	<div class="left-s col col-50">
				    		<p>Marzo 2016</p>
				    		<small>Vto. 13/marzo</small>
				    	</div>
				    	<div class="right-s col col-50">
				    		<p><span class="orange"> $ 54000</span></p>
				    	</div>
				    </div>
				</div>
        	</div>
        </ion-content>
	    <ion-footer-bar class="bar-dark account-footer">
	    	<button class="button button-full pay-button">
	        	PAGAR
	    	</button>
	    </ion-footer-bar>
</ion-view>
