<ion-view view-title="Mi Cuenta">
  <ion-nav-bar>
    <ion-nav-back-button class="button-clear force-show" ng-click="goBack()">
      <i class="color-white ion-chevron-left"></i>
    </ion-nav-back-button>
  </ion-nav-bar>
    <ion-content class="account-view">
      <div class="list">
        <div class="item" ng-repeat="item in commonExpenses" ng-click="seeDetail(item)">
          <div class="row">
            <div class="left-s col col-50">
              <p>{{item.month}}</p>
              <small class="mute">válido hasta el 5 de {{item.month}}</small>
            </div>
            <div class="right-s col col-50">
              <p><span class="orange"> ${{item.total}}</span></p>
            </div>
          </div>
          <div class="list list-inset" ng-show="showDetail == item.id">
            <p class="text-center"> Detalle de Gastos</p>
            <div class="item item-icon-left">
              <i class="icon ion-ios-lightbulb"></i>
              Luz: {{item.total_light}}
            </div>

            <div class="item item-icon-left">
              <i class="icon ion-waterdrop"></i>
              Agua: {{item.total_water}}
            </div>

            <div class="item item-icon-left">
              <i class="icon ion-ios-flame"></i>
              Gas: {{item.total_gas}}
            </div>

            <div class="item item-icon-left">
              <i class="icon ion-ios-people"></i>
              Personal: {{item.total_personal}}
            </div>
            <hr>

          </div>
        </div>
        <div class="item" ng-if="!commonExpenses">
          <div class="row">
            <p class="text-center col col-100"> Sin Gastos Comunes Disponibles</p>
          </div>
        </div>
      </div>
    </ion-content>
  <ion-footer-bar class="bar-dark account-footer" ng-if="commonExpenses">
    <button class="button button-full pay-button">
      PAGAR
    </button>
  </ion-footer-bar>
</ion-view>
