<ion-view view-title="Mi Cuenta">
  <ion-nav-bar>
    <ion-nav-back-button class="button-clear force-show" ng-click="goBack()">
      <i class="color-white ion-chevron-left"></i>
    </ion-nav-back-button>
  </ion-nav-bar>
    <ion-content class="account-view">
      <div class="list">
        <div class="item" ng-repeat="item in commonExpenses">
          <div class="row">
            <div class="left-s col col-50">
              <p>{{item.month}}</p>
              <small>válido por {{item.month}}</small>
            </div>
            <div class="right-s col col-50">
              <p><span class="orange"> ${{item.total}}</span></p>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
  <ion-footer-bar class="bar-dark account-footer">
    <button class="button button-full pay-button">
      PAGAR
    </button>
  </ion-footer-bar>
</ion-view>
