<ion-view view-title="Administración">

    <ion-nav-buttons side="left">
      <button class="button-clear force-show" ng-click="goBack()">
        <i class="color-white ion-chevron-left"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side='right'>
      <button class='button-clear force-show' main-sidebar>
        <img class='user' src='img/icons/user.svg' />
      </button>
    </ion-nav-buttons>
<!--     <ion-nav-bar>
    	<ion-nav-back-button class="button-clear force-show" ng-click="goBack()">
      		<i class="color-white ion-chevron-left"></i>
    	</ion-nav-back-button>
  	</ion-nav-bar> -->
        <ion-content class="dashboard-view">
        	<div class="hero" ng-if="commonExpenses">
        		<small>A PAGAR</small>
        		<p>${{commonExpenses[0].total}}</p>
        		<small>Correspondiente a</small>
        		<p>{{commonExpenses[0].month}}</p>
        	</div>
          <div class="hero" ng-show="!commonExpenses">
            <small>No Registra Deuda Pendiente</small>
            <p> </p>
          </div>
        	<div class="list">
				<div class="item button button-full icon-right ion-ios-arrow-right" ui-sref="dashboard-account">
				    Mi Cuenta
				</div>
				<div class="item button button-full icon-right ion-ios-arrow-right">
				    Gastos Comunes
				</div>
				<div class="item button button-full icon-right ion-ios-arrow-right">
				    Uso de Instalaciones
				</div>
				<div class="item button button-full icon-right ion-ios-arrow-right">
				    Asambleas
				</div>
				<div class="item button button-full icon-right ion-ios-arrow-right">
				    Mantenciones
				</div>
				<div class="item button button-full icon-right ion-ios-arrow-right">
				    Reglamento
				</div>
        	</div>
        </ion-content>

</ion-view>
